<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Управление книгами</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <!--<link href="favicon.ico" rel="shortcut icon"/>-->
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45744385"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer="defer" src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">


<header class="Header" th:replace="~{fragments/common_header_fragment :: head}"></header>

<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title">Управление книгами
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <h2 class="Middle-title">Управление книгами
            </h2>
            <span style="color: green" th:if="${updateBookStatus}"
                  th:text="'Информация о книге обновлена!'">Информация о книге обновлена!</span>
            <span style="color: red" th:if="${updateError}" th:text="${'Ошибка: ' + updateBookError}">Ошибка ввода данных!</span>

            <div class="Tabs Tabs_default">

                <div class="Tabs-links">
                    <a class="Tabs-link Tabs-link_ACTIVE" href="#addBook">Редактировать книгу</a>
                    <!--<a class="Tabs-link" href="#editBook">Редактировать существующие книги</a>
                    <a class="Tabs-link" href="#bookChangeHistory">История изменений</a>-->
                </div>

                <div class="Tabs-wrap">
                    <div class="Tabs-block" id="addBook">
                        <div class="CMS">

                            <form class="form SelectBookToChange-form" action="#" th:action="@{/admin/managebook/selectbook}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="chooseBook" for="bookToChange">Выберите книгу для редактирования
                                </label>
                                <select class="form-select1" id="bookToChange" aria-label="Select genre"
                                        th:name="bookSelectSlug">
                                    <option selected value="0">Выберите книгу для редактирования</option>
                                    <option th:each="book:${books}" th:value="${book.slug}" th:text="${book.title}">books</option>
                                </select>
                                <div class="form-group">
                                    <div class="bk-btn">
                                        <button class="btn btn_primary" type="submit">Применить
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </form>

                            <form class="form ChangeBook-form" action="#" th:object="${bookDataToChange}" th:action="${'/admin/managebook/save/'+bookDataToChange.getSlug()}" method="post" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="row-block">

                                        <div class="form-group">
                                            <label class="form-label" for="title">Название книги
                                            </label>
                                            <input class="form-input" id="title" type="text"
                                                   th:field="*{title}"
                                                   value="Название книги"
                                                   data-validate="require title"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">Дата публикации
                                            </label>
                                            <input class="form-input form-input_date form-input_date_uninit"
                                                   th:name="bookPubDate" th:value="${bookPubDateOrigin}"
                                                   id="bookPubDate" name="bookPubDate" type="text" placeholder="Дата"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="descripton">Описание книги
                                            </label>
                                            <input class="form-input" id="descripton" name="descripton" type="text"
                                                   th:field="*{description}"
                                                   value="description"
                                                   data-validate="require description"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="price">Цена (до скидки), руб.
                                            </label>
                                            <input class="form-input" id="price" name="priceOld" type="text"
                                                   th:field="*{priceOld}"
                                                   value="0"
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label" for="discount">Скидка (0.0 - 1.0)
                                            </label>
                                            <input class="form-input" id="discount" name="discount" type="text"
                                                   th:field="*{price}"
                                                   value="0.0"
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label class="addAuthorToNewBook" for="author">Выберите автора
                                            </label>
                                            <select class="form-select2" id="author" aria-label="Select author"
                                                    th:name="authorToChange">
                                                <option selected th:text="${bookDataToChange?.author?.name}" th:value="${bookDataToChange?.getAuthor()?.getId()}">Выберите автора</option>
                                                <option th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}">author 1</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="addGenreToNewBook">Жанры
                                            </label>
                                            <a th:href="@{'/admin/manageBookGenres?&bookId='+${bookDataToChange.id}}">Редактировать жанры книги</a>
                                        </div>

                                        <div class="form-group">
                                            <label class="manageBookTags">Теги
                                            </label>
                                            <a th:href="@{'/admin/manageBookTags?&bookId='+${bookDataToChange.id}}">Редактировать теги книги</a>
                                        </div>

                                        <div class="form-group">
                                            <label class="addBookFileToNewBook" for="bookImage">Загрузите новую обложку книги (300х300 пикселей)
                                            </label>
                                            <div class="input-group mb-3" id="bookImage">
                                                <label class="input-group-text" for="inputBookImage">Upload</label>
                                                <input type="file" class="form-control" id="inputBookImage"
                                                       th:name="bookImage" data-validate="require book image">
                                            </div>
                                            <label>Выберите, оставить или изменить картинку
                                            </label>
                                            <select class="form-select" aria-label="Default select example" th:name="changeImage">
                                                <option selected th:value="false">Не менять обложку</option>
                                                <option th:value="true">Менять или удалить (не выбирая файла)</option>
                                            </select>
                                        </div>


                                        <div class="form-group">
                                            <label class="addBookFilePDFToNewBook" for="bookFilePDF">Загрузите новый файл книги (PDF)
                                            </label>
                                            <div class="input-group mb-3" id="bookFilePDF" >
                                                <label class="input-group-text" for="inputBookFilePDF">Upload</label>
                                                <input value="" type="file" class="form-control" id="inputBookFilePDF"
                                                       th:name="bookFilePDF" data-validate="require book pdf">
                                            </div>

                                            <label>Выберите, оставить или изменить PDF
                                            </label>
                                            <select class="form-select" aria-label="Default select example" th:name="changePDF">
                                                <option selected th:value="false">Не менять PDF</option>
                                                <option th:value="true">Менять (выбрать новый файл) или удалить(не выбирая файла)</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="addBookFileEPUBToNewBook" for="bookFileEPUB">Загрузите новый файл книги (EPUB)
                                            </label>
                                            <div class="input-group mb-3" id="bookFileEPUB">
                                                <label class="input-group-text" for="inputBookFileEPUB">Upload</label>
                                                <input value="" type="file" class="form-control" id="inputBookFileEPUB"
                                                       th:name="bookFileEPUB">
                                            </div>

                                            <label>Выберите, оставить или изменить EPUB
                                            </label>
                                            <select class="form-select" aria-label="Default select example" th:name="changeEPUB">
                                                <option selected th:value="false">Не менять EPUB</option>
                                                <option th:value="true">Менять (выбрать новый файл) или удалить(не выбирая файла)</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="addBookFileFB2ToNewBook" for="bookFileFB2">Загрузите новый файл книги (FB2)
                                            </label>
                                            <div class="input-group mb-3" id="bookFileFB2">
                                                <label class="input-group-text" for="inputBookFileFB2">Upload</label>
                                                <input value="" type="file" class="form-control" id="inputBookFileFB2"
                                                       th:name="bookFileFB2">
                                            </div>

                                            <label>Выберите, оставить или изменить файл FB2
                                            </label>
                                            <select class="form-select" aria-label="Default select example" th:name="changeFB2">
                                                <option selected th:value="false">Не менять FB2</option>
                                                <option th:value="true">Менять (выбрать новый файл) или удалить(не выбирая файла)</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <div class="CMS-btn">
                                                <button class="btn btn_primary" type="submit">Сохранить
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </form>

                            <form class="form undo" action="#" th:action="@{/admin/managebook}" method="get">
                                <button class="btn btn_danger" type="submit">
                                    Отмена
                                </button>
                            </form>
                        </div>
                    </div>

                    <!--<div class="Tabs-block" id="editBook">
                        <div class="Transactions">
                            <div class="tableWrap">
                                <table class="table table_noMargin">
                                    <thead>
                                    <tr>
                                        <th>Дата и время
                                        </th>
                                        <th>Сумма
                                        </th>
                                        <th>Описание
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="transact:${transactions}">
                                        <td th:text="${transact.time}">15 мая 2017 10:03
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong th:text="${transact.value}">+500 р.
                            </strong></span>
                                        </td>
                                        <td th:text="${transact.description}">Пополнение счета
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="Transactions-footer Transactions-footer_center"><a
                                    class="btn btn_primary Transactions-get" href="#" data-transactionoffset="4"
                                    data-transactionlimit="10" data-transactionsort="asc">Показать еще</a>
                            </div>
                        </div>
                    </div>

                    <div class="Tabs-block" id="bookChangeHistory">
                        <form class="form Topup" action="#" method="post" data-sendHash="34534535"
                              th:action="@{/payment}">
                            <div class="Topup-wrap">
                                <strong class="Topup-title">Введите сумму, на которую хотите пополнить свой счет:
                                </strong>
                                <div class="form-group form-group_row Topup-group">
                                    <input class="form-input" id="sum" name="sum" type="text" th:name="sum"/><span>рублей</span>
                                </div>
                                <div class="form-group">
                                    <div class="Topup-btn">
                                        <button class="btn btn_primary">Пополнить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>-->


                </div>
            </div>
        </main>
    </div>
</div>

<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>

<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>